* text=auto !eol
src/site/resources/images/icon_error_sml.gif -text
src/site/resources/images/icon_info_sml.gif -text
src/site/resources/images/icon_warning_sml.gif -text
src/site/resources/images/jcr-runner-small.png -text svneol=unset#image/png
src/site/resources/images/jcr-runner.png -text svneol=unset#image/png
